@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-body), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headline), sans-serif;
}

@layer base {
  :root {
    --font-body: 'Inter';
    --font-headline: 'Space Grotesk';

    /* Light Theme */
    --background: 215 60% 97.5%;
    --foreground: 215 61% 11%;
    --card: 0 0% 100%;
    --card-foreground: 215 61% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 215 61% 11%;
    --primary: 224 100% 66%;
    --primary-foreground: 0 0% 100%;
    --secondary: 218 43% 95%;
    --secondary-foreground: 215 61% 11%;
    --muted: 218 43% 95%;
    --muted-foreground: 215 25% 47%;
    --accent: 218 43% 95%;
    --accent-foreground: 215 61% 11%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 29% 95%;
    --input: 220 29% 95%;
    --ring: 224 100% 66%;

    --chart-1: 142 67% 45%; /* green */
    --chart-2: 224 100% 66%; /* blue */
    --chart-3: 38 92% 50%; /* yellow */
    --chart-4: 0 84% 60%; /* red */
    --chart-5: 255 90% 66%; /* purple */
    --radius: 0.75rem;

    --sidebar-background: 218 56% 8%;
    --sidebar-foreground: 210 20% 96%;
    --sidebar-primary: 210 20% 96%;
    --sidebar-primary-foreground: 218 56% 8%;
    --sidebar-accent: 224 100% 66%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 218 56% 14%;
    --sidebar-ring: 224 100% 66%;
  }

  .dark {
    /* Dark Theme */
    --background: 218 56% 8%;
    --foreground: 210 20% 96%;
    --card: 218 50% 12%;
    --card-foreground: 210 20% 96%;
    --popover: 218 56% 8%;
    --popover-foreground: 210 20% 96%;
    --primary: 224 100% 66%;
    --primary-foreground: 0 0% 100%;
    --secondary: 218 40% 20%;
    --secondary-foreground: 210 20% 96%;
    --muted: 218 40% 20%;
    --muted-foreground: 215 25% 65%;
    --accent: 218 40% 20%;
    --accent-foreground: 210 20% 96%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 218 40% 20%;
    --input: 218 40% 20%;
    --ring: 224 100% 66%;

    --chart-1: 142 67% 55%;
    --chart-2: 224 100% 70%;
    --chart-3: 38 92% 60%;
    --chart-4: 0 84% 70%;
    --chart-5: 255 90% 70%;

    --sidebar-background: 218 56% 8%;
    --sidebar-foreground: 210 20% 96%;
    --sidebar-primary: 210 20% 96%;
    --sidebar-primary-foreground: 218 56% 8%;
    --sidebar-accent: 224 100% 66%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 218 56% 14%;
    --sidebar-ring: 224 100% 66%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
